body {
  font-family: 'Ubuntu', sans-serif;
}
section {
  margin-bottom: 7rem;
}
nav {
  background-color: #e1f4f3;
  color: #000000;
}
.masthead {
  height: 100vh;
  background-color: #e1f4f3;
  padding-top: 5rem;

}
.masthead img {
  //height: 100%;
  width: 15rem;
}
.my-auto {
  padding-top: 7rem;
}

.about img {
  //width: 10rem;
  padding: 1rem 1rem 0 1rem;
  height: 100%;
  object-fit: contain;
}
//.about-header {
//  margin-bottom: 5rem;
//}
.about p {
  font-size: .7em;
}