.profile-image-div {
  background: url("https://images.unsplash.com/photo-1564998450990-3ac59309745c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-top-card {
  margin-top: 3rem;
  //width: 18rem;
}

.profile-image {
  width: 8rem;
}

.profile-bio {
  margin-top: 2rem;
}

.profile-bio p {
  font-size: .8rem;
}

.technical {
  padding-left: 5rem;
}